body {
  background-size: cover;
  background-repeat: no-repeat;
}

.all-together {
  background-color: rgba(225, 225, 225, 0.2);
  margin-top: 10%;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  font-family: lobster;
  font-size: 25px;
  padding: 10px;
  color: black;
}

.btn-primary {
  margin-right: 5px
}

.coordinates-input {
  display: block;
  margin: 10px;
}

.form-control {
  width: 20%
}

.single-city-form, .add-city-localy {
  text-align: left;
}
